{% extends "chatapp/layout.html" %}
{% block title%}  Home page  {% endblock %}


{% block body %}

    <div class="container col-4" style="margin-top:100px; border:1px solid grey;padding: 15px; ">

        {% if errors %}

        votre mot de passe ou votre nom utilisateur n'existe pas dans notre base de donnée
        {% endif %}
        <h3  style="margin:10px 50px;">Formulaire de connexion</h3>
    <form method="POST" action="" >
        {% csrf_token %}

        <input type="text" name="username" placeholder="Votre nom ...">
        <input type="password" name="password" placeholder="Votre mot de passe ...">
        <input type="submit" value="submit">
        <a href="{% url 'logout_view' %}">Deconnexion</a>
    </form>
        
{% endblock %}

